<h1 class="ui header">
  New Candidate
</h1>

<%= render 'candidateform', candidate: @candidate %>

<%= link_to "/page/admin", class: "ui basic button" do %>
  <i class="chevron left icon"></i> Back
<% end %>
